
.alert-info {
    margin: auto;
    text-align: center;
    padding: 25px;
    width: 350px;
    border: solid 2px lightgrey;
    background: lightblue;

}
h1 {

    font-size: 50px;
    text-align: center;

}

ul li{

    display: inline-block;
    text-align: center;
    font: message-box;
    font-size: x-large;
    background: lightgray;
    width: 350px;
    margin: 10px;
    padding: 15px;

}

.sub-section {
    font-style: italic;
    margin-bottom: 150px;
}

@media screen and (min-width: 576px){
    .alert-info {
        display: none;
    }
    h1{
        float: left;
        font-size: 50px;
        text-align: left;
    }
    ul{
       text-align: right;
        display: inline-block;
        background: none;
        font-size: x-large;
        width: 30px;
    }
    li{
        display: inline-block;
        text-align: right;
        background: none;
        font-size: x-large;
        width: 30px;
    }

}